<!-- <p>header works!</p> -->
<p>
    <mat-toolbar color="primary">
      <span>MS-ICD LTSWEB </span>
    </mat-toolbar>

<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
    <!-- <div><a href="https://www.positronx.io" target="_blank" class="positronx">PositronX.io</a></div> -->
    
    <span class="nav-tool-items">
     <ul>
        <li *ngIf="!userIsAuthenticated" > 
            <a mat-button mat-raised-button routerLink="login" routerLinkActive="active">Log in</a>
        </li>
        <li *ngIf="userIsAuthenticated" >
            <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Créer compte</a> 
        </li> 
        <li *ngIf="userIsAuthenticated" >
          <a mat-button mat-raised-button routerLink="dashboard" routerLinkActive="active">Dashboard</a> 
        </li>
        <li *ngIf="userIsAuthenticated" >
          <button mat-button > Logout</button>
        </li>
    </ul>
    </span>
  </mat-toolbar>

  </p>
  