<!-- <h1> {{title}}</h1> -->
<app-header> </app-header>
<nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/salarier"> Salarier </a>
</nav>

<!-- <app-salarier> </app-salarier> -->

<!-- Toolbar -->
<!-- <mat-toolbar color="primary" class="app-header">
  <div><a href="https://www.positronx.io" target="_blank" class="positronx">PositronX.io</a></div>
  <span class="nav-tool-items">
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
  </span>
</mat-toolbar> -->


<router-outlet> </router-outlet>

<app-messages> </app-messages>