
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [ngClass]="{ hidden: !(isHandset$ | async) }"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-toolbar>Andrew Bateman</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Créer fiche de mission</a>
      <a mat-list-item href="#">modifier fiche de mission</a>
      <a mat-list-item href="#">Suprimer fiche de mission</a>
    </mat-nav-list>
  </mat-sidenav>
  
</mat-sidenav-container> 

<h1> Suivie des Salariés en mission</h1>
       
